{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "browser": true
  },
  "plugins": [
    "react"
  ],
  "rules": {
    "strict": 0,
    "react/prop-types": 0,
    "react/prefer-stateless-function": 0,
    "import/prefer-default-export": 0
  }
}
