{
  "extends": [
    "airbnb",
    "prettier",
    "prettier/react"
  ],
  "plugins": [
    "react",
    "prettier"
  ],
  "parser": "babel-eslint",
  "env": {
    "browser": true
  },
  "rules": {
    "prettier/prettier": "error"
  }
}
