.analytics-wrapper {
  padding-top: 70px;

  .stats-box {
    margin-top: 140px;
    text-align: center;

    .icon-not-found {
      font-size: 50px;
      margin-top: -70px;
      margin-bottom: 20px;
      color: $font-color-primary;
    }

    #load-msg {
      color: $font-color-primary;
      font-family: $font-family-secondary;
      text-transform: uppercase;
      font-weight: 100;
      font-size: 30px;
      letter-spacing: 6px;
      margin: 0 auto 40px auto;
    }
  }

  .stats-card {
    margin-top: 30px;
    padding: 0 10px;
    color: $font-color-primary;

    .front{
      padding: 15px;
      background: $bg-darker;
    }
  }

  @media (max-width: 767px){
    &{
      padding: 0;
      .stats-card {
        margin-top: 30px;
        padding: 0;

        .front {
          padding: 10px;
        }
      }
    }
  }
}