.analytics-wrapper {
  padding-top: 30px;

  .stats-box {
    margin-top: 140px;
    text-align: center;

    .icon-not-found {
      font-size: 50px;
      margin-top: -70px;
      margin-bottom: 20px;
      color: $font-color-primary;
    }

    #load-msg {
      color: $font-color-primary;
      font-family: $font-family-secondary;
      text-transform: uppercase;
      font-weight: 100;
      font-size: 30px;
      letter-spacing: 6px;
      margin: 0 auto 40px auto;
    }
  }

  .stats-card {
    margin-top: 30px;
    padding: 0 10px;
    color: $font-color-primary;

    .front {
      padding: 15px 20px;
      background: $bg-darker;

      .heading {
        text-align: left;
        font-size: 16px;
        font-weight: 900;
        letter-spacing: 3px;
        font-family: $font-family-secondary;
        color: $font-color-primary;
        text-transform: uppercase;
        display: inline-block;
        width: fit-content;
        transition: transform .4s ease-out;
        cursor: pointer;
        &:after {
          content: '';
          display: block;
          position: relative;
          width: 100%;
          height: 2px;
          opacity: 1;
          margin: 3px auto 0 auto;
          background: linear-gradient(to right, #E67207 0%, #EF4E7B 50%, #A166AB 100%);
          transform-origin: center;
          transition: transform .4s ease-out;
        }
      }
    }
  }

  @media (max-width: 767px) {
    & {
      padding: 0;
      .stats-card {
        margin-top: 30px;
        padding: 0;

        .front {
          padding: 10px;
        }
      }
    }
  }
}