.border-box {
  margin: 0;
  width: 100%;
  height: 100%;
  line-height: 2px;
  & > div {
    margin: 0;
    height: 5px;
    display: inline-block;
    line-height: 5px;
  }
  .part-1 {
    width: 40%;
    background: $accent-primary-dark;
  }

  .part-2 {
    width: 30%;
    background: $accent-secondary-dark;
  }

  .part-3 {
    width: 20%;
    background: $accent-secondary-light;
  }

  .part-4 {
    width: 10%;
    background: $accent-primary-light;
  }
}