.home-wrapper {
  padding: 70px;
  height: 80vh;
  min-height: 600px;
  background: $bg-darker;
  border-bottom: 2px solid;
  border-image: lineargrad-github() 1;

  &.small {
    height: 175px;
    min-height: 0;
  }

  .search-box {
    margin-top: 100px;
    position: relative;
    height: 400px;
    padding: 20px;
    text-align: center;
    color: $font-color-primary;
    background: $bg-darker;

    &.small {
      margin-top: 0;
      background: transparent;
      border-radius: 0;
      height: 100px;
    }

    .title {
      font-family: $font-family-secondary;
      text-transform: uppercase;
      font-weight: 900;
      font-size: 40px;
      letter-spacing: 8px;
      margin: 0 auto 40px auto;
    }

    .description {
      margin-bottom: 70px;
      animation-delay: 0.5s;
      .bold {
        font-weight: bold;
      }
    }

    form {
      animation-delay: 1s;
    }

    .search-label {
      position: absolute;
      color: $font-color-primary;
      font-size: 24px;
      font-weight: bold;
    }

    #search-input {
      width: 100%;
      margin-bottom: 40px;
      padding-left: 24px;
      background: transparent;
      border-width: 0 0 2px 0;
      border-image: lineargrad-github() 1;

      &.small {
        display: inline-block;
      }

      &, &::placeholder {
        color: $font-color-primary;
        font-size: 24px;
      }
    }

    .heart-icon {
      color: red;
    }

    .search-btn {
      margin-top: 10px;

      &.small {
        display: inline-block;
      }
    }
  }

  @media (max-width: 767px) {
    padding: 70px 0;
  }
}