.loader {
  display: inline-block;
  position: relative;
  width: 30px;
  height: 30px;
  border: 2px solid;
  border-image: lineargrad-github() 1;
  border-radius: 50%;
  background: transparent;
  animation: rotate 1s linear 0s infinite;
}