.site-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100vw;
  height: 70px;
  background: $bg-darker;
  font-size: 16px;
  font-weight: 900;
  letter-spacing: 3px;
  font-family: $font-family-secondary;
  color: $font-color-primary;
  text-transform: uppercase;
  padding: 20px 20px;
  border-bottom: 2px solid $bg-dark;

  & > div {
    display: inline-block;
  }

  .logo {
    border: 0.15rem solid;
    border-image: lineargrad-github() 1;
    padding: 3px 15px;
    font-family: $font-family-secondary;
    font-size: 16px;
    font-weight: 700;
    color: $font-color-primary !important;
    letter-spacing: 3px;
    margin-top: -3px;

    svg {
      vertical-align: text-top!important;
    }

    a {
      color: $font-color-primary;
    }
  }
  .pull-right {
    float: right;
  }

  .git-btn-grp {
    & > * {
      margin: 0 10px;
    }
  }

  .pull {
    margin-left: 50px;
    text-align: center;

    a {
      display: inline-block;
      width: fit-content;
    }
    a, a:hover {
      color: $font-color-primary;
      transition: transform .4s ease-out;
    }
    a:after {
      content: '';
      display: block;
      position: relative;
      width: 100%;
      height: 2px;
      opacity: 1;
      margin: 3px auto 0 auto;
      background: linear-gradient(to right, #E67207 0%, #EF4E7B 50%, #A166AB 100%);
      transform-origin: center;
      transform: scaleX(0);
      transition: transform .4s ease-out;
    }

    a:hover:after {
      transform: scaleX(1);
      transition: transform .4s ease-out;
    }
  }
}