.profile-info {
  justify-content: center;
  height: 100%;
  overflow: hidden;

  .description {
    text-align: center;
    margin-bottom: 5px;
  }
  .profile-pic-wrap {
    padding: 2px;
    background: lineargrad-github();
    border-radius: 50%;
    width: 154px;
    height: 154px;
    margin: 0 auto 10px auto;
    .profile-pic {
      width: 150px;
      height: 150px;
      border-radius: 50%;
    }
  }

  .profile-details {
    text-align: center;
    .username {
      margin-bottom: 15px;
    }

    .bio {
      height: 48px;
      max-height: 48px;
      overflow: hidden;
      word-break: normal;
      text-overflow: ellipsis;
    }

    .details {
      font-weight: bold;
      width: 80%;
      margin: 0 auto 30px auto;
      .field {
        float: left;
        text-align: left;

        svg {
          vertical-align: text-top !important;
          margin-right: 5px;
        }
      }
      .value {
        float: right;
        text-align: right;
      }
    }
  }

  .score-row {
    text-align: center;
    margin: 0;
    .score-box {
      padding: 10px;
      .score {
        &.pull {
          margin-right: -30px;
        }
        &.sm {
          margin-bottom: calc(0.5rem + 0.625rem);
        }
        .score-value {
          display: inline;
          vertical-align: super;

          &.grad {
            background: lineargrad-github();
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
        }
        .sub {
          font-size: 1rem;
          vertical-align: sub;
          margin-left: 2px;
        }
      }
    }
  }
}