.search-wrapper {
  top: 0;
  left: 0;
  margin: 0 auto;
  height: calc(100vh - 125px);
  justify-content: center;
  background: $grey-light;

  &.search-wrapper-collapse {
    height: calc(40vh - 125px);
  }

  .logo-box, .git-btn-grp {
    padding-top: 10px;
    display: inline-block;
  }

  .logo-text {
    font-size: 26px;
    .primary {
      color: $accent-primary-dark;
    }

    .secondary {
      color: $accent-secondary-dark;
    }
  }

  .git-btn-grp {
    float: right;
    & > * {
      margin: 0 5px;
    }
  }

  .search-box {
    text-align: left;

    form {
      margin-left: -52px;
      padding-top: 35vh;
      color: $accent-secondary-light;

      &.form-collapse {
        padding-top: 7vh;
      }

      .search-icon {
        margin-right: 16px;
        font-size: 36px;
        color: $grey-dark;
        vertical-align: baseline !important;
      }

      input {
        width: calc(100% - 52px);
        font-size: 48px;
        font-weight: 400;
        color: $accent-secondary-dark;
        background: transparent;
        border: none;
        border-bottom: 5px solid $grey-dark;

        &::placeholder {
          color: $accent-secondary-dark;
          font-weight: 400;
        }
      }
    }
  }
}