$font-color-primary: #daeaf7;
$font-color-secondary: #26282b;
$bg-dark: #1A1F21;
$bg-darker: #111416;
$font-family-primary: 'Raleway', sans-serif;
$font-family-secondary: "Arial Narrow", "Trebuchet MS", sans-serif;