.card-wrap {
  padding: 10px;

  .card {
    border-radius: 10px;
    background-color: $secondary-mid;
    padding: 15px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transition: box-shadow 0.5s ease;

    &.no-shadow {
      &:hover {
        box-shadow: none;
      }
    }

    &.slim {
      padding: 10px 15px;
    }

    &.shadow {
      box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.9);
    }

    &:hover {
      box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.9);
    }
    .row {
      margin-bottom: 30px;

      &.slim {
        margin-bottom: 0;
      }

      &.slim-mid {
        margin-bottom: 10px;
      }
    }

    .value {
      text-align: center;

      .name {
        color: $primary-text-mid;
      }
    }
  }
}
