.card-wrap {
  padding: 10px;

  .card {
    border-radius: 10px;
    background-color: $secondary-mid;
    padding: 15px;

    .row {
      margin-bottom: 30px;

      &.center {
        justify-content: center;
      }

      &.slim {
        margin-bottom: 0;
      }
    }

    .value {
      text-align: center;

      .name {
        color: $primary-text-dark;
      }
    }
  }
}
