.home-container {
  min-height: calc(100vh - 178px);
}

.home-rec-one {
  top: 0;
  z-index: 10;
  position: absolute;
  &.slideInLeft {
    animation-delay: 0.1s;
  }
  &.slideOutLeft {
    animation-delay: 0.2s;
  }
}

.home-rec-two {
  top: 0;
  position: absolute;
  &.slideOutLeft {
    animation-delay: 0.3s;
  }
}

.header {
  margin-top: 100px;
  .title {
    &.fadeIn {
      animation-delay: 0.6s;
    }
  }

  .action-box {
    margin-top: 20px;
    display: block;
    background-image: linear-gradient(-37deg, $primary-dark 0%, $primary-mid 51%, $primary-light 100%);
    width: 206px;
    border-radius: 100px;
    border: none;

    &.fadeInDown {
      animation-delay: 0.8s;
    }

    .search-input {
      display: none;
      border: none;
      flex: 1;
    }

    button {
      flex: 1;
    }

    &.active {
      display: flex;
      max-width: 412px;
      width: auto;
      box-shadow: none;
      height: 46px;
      transition: box-shadow 0.3s ease-in-out;
      .search-input {
        display: flex;
        max-width: 240px;
        height: 42px;
        padding: 11px 38px;
        margin: 2px;
        background-color: $primary-text-light;
        color: $primary-text-dark;
        border-radius: 100px 0 0 100px;
        cursor: auto;
        transition: width 1s ease-out;
      }

      button {
        margin-left: -38px;
        &:hover {
          box-shadow: none;
        }
      }

      &:hover {
        box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.49);
      }

      @media (max-width: 575px) {
        display: block;
        background: none;
        text-align: center;
        .search-input {
          display: block;
          border-radius: 100px;
          max-width: calc(100% - 4px);
          width: calc(100% - 4px);
        }
        button {
          margin: 20px auto;
        }
      }
    }
  }
}

.github-star {
  position: absolute;
  top: 25px;
  left: calc(50vw - 40px);
  z-index: 999;
}

@media (max-width: 575px) {
  .github-star {
    display: none;
  }
}
