.nav-bar {
  padding-top: 15px;
  padding-bottom: 15px;
  height: 50px;
  background-color: transparent;
  .box {
    display: flex;
    position: absolute;
    width: calc(100% - 30px);
    justify-content: space-between;
  }

  .logo-text {
    font-size: 20px;
    line-height: 30px;
    width: fit-content;
    color: $primary-text-light;
    z-index: 100;
    cursor: pointer;
    border: 2px solid;
    border-image: linear-gradient(to right, #e67207 30%, #ef4e7b 60%, #a166ab 100%) 1;
    padding: 3px 15px;
  }

  .back-text {
    font-size: 20px;
    line-height: 30px;
    .back-icon {
      font-size: 30px;
    }
  }

  ul.menu {
    width: fit-content;
    list-style: none;
    display: inline-block;
    vertical-align: middle;
    animation-delay: 0.2s;
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 30px;
    z-index: 100;
    .item {
      color: $primary-text-mid;
      margin: 0 10px;
    }
  }
}
