.nav-bar {
  padding-top: 15px;
  padding-bottom: 15px;
  height: 50px;
  background-color: transparent;
  .box span {
    display: flex;
    position: absolute;
    width: 100%;
    justify-content: space-between;
  }

  .logo-text {
    font-size: 20px;
    line-height: 30px;
    width: fit-content;
    color: $primary-text-light;
    z-index: 100;
    cursor: pointer;
    .back-icon {
      font-size: 30px;
    }
    &:hover {
      color: $blue;
    }

    &.home {
      animation-delay: 0.2s;
    }
  }

  ul.menu {
    width: fit-content;
    list-style: none;
    display: inline-block;
    vertical-align: middle;
    animation-delay: 0.2s;
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 30px;
    z-index: 100;
    .item {
      color: $primary-text-mid;
      margin: 0 10px;
    }

    a {
      &:hover {
        color: $blue;
      }
    }
  }
}
