nav.nav-bar {
  padding: 15px 0;
  height: 50px;
  background-color: transparent;
  .row {
    display: flex;
    justify-content: space-between;
  }
  .logo-text {
    font-size: 20px;
    line-height: 30px;
    width: fit-content;
    color: $primary-text-light;
    .back-icon {
      font-size: 30px;
    }
    z-index: 100;
    cursor: pointer;
  }

  ul.menu {
    width: fit-content;
    list-style: none;
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 30px;
    z-index: 100;
    .item {
      color: $primary-text-mid;
      margin: 0 10px;
    }

    a {
      &:hover {
        color: $blue;
      }
    }
  }
}
