.report-rec-three {
  top: -400px;
  right: -400px;
  position: absolute;
}

.user-header {
  margin-top: 50px;
}

.user-bio {
  display: flex;

  .user-pic {
    flex: 1;
    border-radius: 50%;
    max-width: 100px;
    max-height: 100px;
    overflow: hidden;
    background-color: $secondary-light;
  }

  .user-details {
    flex: 4;
    max-width: 80%;
    padding: 0 10px;
    .user-name {
    }

    .bio {
      color: $primary-text-mid;
      overflow: hidden;
      word-wrap: break-word;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}

.user-info {
  display: flex;
  justify-content: start;
  .info {
    flex: 1;
    max-width: 75px;
    .row.value-icon-row {
      display: flex;
      max-width: 50px;
      justify-content: center;
      margin: 0 auto;

      .value,
      .info-icon {
        flex: 1;
      }

      .info-icon {
        font-size: 23px;
      }
    }

    .name-row {
      color: $primary-text-mid;
      text-align: center;
    }
  }

  @media (max-width: 767px) {
    margin-top: 20px;
  }
}
