.report-rec-three {
  top: -400px;
  right: -400px;
  position: absolute;
}

.section-head {
  margin-bottom: 20px;
}

.own-repo-count {
  color: $yellow;
}

.forked-repo-count {
  color: $violet;
}

.tag {
  &:after {
    position: absolute;
    top: 15px;
    right: -3px;
    padding: 2px 8px;
    border-radius: 10px;
    font-size: 12px;
    color: $secondary-dark;
  }
  &.owned:after {
    content: 'Owned';
    background: $yellow;
  }
  &.total:after {
    content: 'Total';
    background: $blue;
  }
  &.forked:after {
    content: 'Forked';
    background: $violet;
  }
}

.user-bio {
  display: flex;

  .user-pic-box {
    flex: 1;
    border-radius: 50%;
    max-width: 100px;
    min-width: 100px;
    max-height: 100px;
    min-height: 100px;
    overflow: hidden;
    background-image: linear-gradient(to right, $primary-light 0%, $primary-mid 50%, $primary-dark 100%);
    padding: 2px;

    .user-pic-bg {
      width: 96px;
      height: 96px;
      background-color: $secondary-light;
      border-radius: 50%;
      .user-pic {
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
    }
  }

  .user-details {
    flex: 4;
    max-width: 80%;
    padding: 0 10px;

    .bio {
      color: $primary-text-mid;
      overflow: hidden;
      word-wrap: break-word;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  @media (max-width: 575px) {
    display: block;
    text-align: center;

    .user-pic-box {
      margin: 0 auto 20px auto;
    }

    .user-details {
      margin: 0 auto 20px auto;
    }
  }
}

.labels-list-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  .labels-list {
    padding-inline-start: 20px;
    .labels-list-item {
      overflow: hidden;
      word-wrap: break-word;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}

.share-message-box {
  margin-top: 40px;
  margin-bottom: 10px;
  .share-message {
    margin: 20px;
  }
}

.error-section {
  margin-top: calc(50vh - 150px);
  .error-icon {
    font-size: 65px;
    margin-bottom: 20px;
  }
}

.bullet {
  width: 15px;
  height: 15px;
  border: 2px solid white;
  border-radius: 50%;
  margin-right: 10px;
  display: inline-block;
  vertical-align: text-bottom;

  &.color-1 {
    background-color: #ef4e7b;
  }

  &.color-2 {
    background-color: #9240bb;
  }

  &.color-3 {
    background-color: #4f72b7;
  }

  &.color-4 {
    background-color: #0b97ac;
  }

  &.color-5 {
    background-color: #22c4de;
  }

  &.color-6 {
    background-color: #00b199;
  }

  &.color-7 {
    background-color: #53ba6e;
  }

  &.color-8 {
    background-color: #6db981;
  }

  &.color-9 {
    background-color: #f26f54;
  }

  &.color-10 {
    background-color: #f69332;
  }

  &.color-11 {
    background-color: #f8e54f;
  }

  &.color-owned {
    background-color: $yellow;
  }

  &.color-forked {
    background-color: $violet;
  }
}

.update-bar {
  position: fixed;
  bottom: 10px;
  z-index: 999;
  .card-wrap {
    padding: 0;
  }

  .card {
    cursor: default;
  }

  @media (min-width: 567px) {
    left: calc(50vw - 270px);
    right: calc(50vw - 270px);
  }
  @media (min-width: 768px) {
    left: calc(50vw - 360px);
    right: calc(50vw - 360px);
  }
  @media (min-width: 992px) {
    left: calc(50vw - 480px);
    right: calc(50vw - 480px);
  }
  @media (min-width: 1200px) {
    left: calc(50vw - 570px);
    right: calc(50vw - 570px);
  }
  .message {
    line-height: 43px;
  }

  .update-btn {
    .loading-msg {
      margin: 0 38.5px;
      height: 22px;
      .lds-ring {
        width: 22px;
        height: 22px;
        div {
          width: 22px;
          height: 22px;
          border-width: 3px;
          margin: 0;
        }
      }
    }
  }
}
