$primary-light: #f7618b;
$primary-dark: #2a7aff;

$secondary-lighter: #477096;
$secondary-light: #263f57;
$secondary-mid: #132638;
$secondary-mid-blue: #1f2b44;
$secondary-dark: #102131;

$primary-text-light: #ffffff;
$primary-text-mid: #7887a7;
$primary-text-dark: #677897;

$pink: #d166a1;
$blue: #4ed0e5;
$yellow: #faec80;
$violet: #a864ca;
