$primary-light: #e67207;
$primary-mid: #ef4e7b;
$primary-dark: #a166ab;

$secondary-light: #26282b;
$secondary-mid: #1a1f21;
$secondary-dark: #111416;

$primary-text-light: #fff;
$primary-text-mid: #7887a7;
$primary-text-dark: #677897;

$pink: #d166a1;
$blue: #22c4de;
$yellow: #f8e54f;
$violet: #9240bb;
