body {
  color: $primary-text-light;
  font-family: 'Arimo', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  margin: 0;
  overflow-x: hidden;
}

h1 {
  font-size: 48px;
  font-weight: 400;
  line-height: 68px;
}

h2 {
  font-size: 36px;
  font-weight: 400;
  line-height: 43px;
}

h3 {
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
}

p {
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
}

a {
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
  text-decoration: none;
  color: $primary-text-light;
}

button {
  outline: none;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  color: $primary-text-light;
  padding: 12px 38px;
  border-radius: 38px;
  background-color: transparent;
  border: 1px solid $primary-text-light;
  cursor: pointer;
}

input {
  outline: none;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  color: $primary-text-light;
  padding: 12px 38px;
  border-radius: 38px;
  background-color: transparent;
  border: 1px solid $primary-text-light;
  cursor: pointer;
}
