body {
  color: $primary-text-light;
  font-family: 'Arimo', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  margin: 0;
  overflow-x: hidden;
}

h1 {
  font-size: 48px;
  font-weight: 400;
  line-height: 68px;
  margin: 0;
}

h2 {
  font-size: 36px;
  font-weight: 400;
  line-height: 43px;
  margin: 0;
}

h3 {
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  margin: 0;
}

p {
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
  margin: 0;
}

a {
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
  text-decoration: none;
  color: $primary-text-light;
  margin: 0;
  display: inline-block;
  width: fit-content;
  &,
  &:hover {
    color: $primary-text-light;
    transition: transform 0.4s ease-out;
  }

  &:after {
    content: '';
    display: block;
    position: relative;
    width: 100%;
    height: 2px;
    opacity: 1;
    margin: 3px auto 0 auto;
    background: linear-gradient(to right, $primary-light 0%, $primary-mid 50%, $primary-dark 100%);
    transform-origin: center;
    transform: scaleX(0);
    transition: transform 0.4s ease-out;
  }

  &:hover:after {
    transform: scaleX(1);
    transition: transform 0.4s ease-out;
  }
}

button {
  outline: none;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  color: $primary-text-light;
  padding: 12px 38px;
  border-radius: 38px;
  background-color: transparent;
  border: 1px solid $primary-text-light;
  cursor: pointer;
  margin: 0;
}

input {
  outline: none;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  color: $primary-text-light;
  padding: 12px 38px;
  border-radius: 38px;
  background-color: transparent;
  border: 1px solid $primary-text-light;
  cursor: pointer;
  margin: 0;
}

.text-center {
  text-align: center;
}
